<div class="row">
 <div class="col s4 m4">
   <div class="card">
     <div class="card-image">
       <img src=<%= current_user.image %>>
     </div>
     <div class="left card-content">
       <h4><%= current_user.name %></h4>
       <p><%= current_user.username %></p>
     </div>
     <div class="left card-action">
       <p><i class="material-icons left">room</i><%= current_user.location %></p>
       <p><i class="material-icons left">email</i><%= link_to "devbox4714@gmail.com", "" %></p>
     </div>
     <div class="left card-action">
       <h5><%= link_to "Organizations", '/organizations' %></h5>
       <% @organizations.each do |organization| %>
        <%= image_tag organization.image, size: '50' %>
       <% end %>
     </div>
   </div>
 </div>

 <div class="col s8 m8" id="category">
   <ul id="category-items">
     <li><a href="/repos">Repositories<span class="new badge" data-badge-caption=""><%= current_user.public_repos %></span></a></li>
     <li><a href="/starred">Stars</a><span class="new badge" data-badge-caption=""><%= @starred_repos_count %></span></li>
     <li><a href="/followers">Followers</a><span class="new badge" data-badge-caption=""><%= current_user.followers %></span></li>
     <li><a href="/following">Following<span class="new badge" data-badge-caption=""><%= current_user.following %></span></a></li>
   </ul>

  <h4>Popular Repositories</h4>
  <% @repos.each do |repo| %>
    <div class="col s12 m6">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title"><strong><%= repo.name %></strong></span>
          <p><%= repo.language %></p>
          <p>Updated: <%= repo.updated_at %></p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  <% end %>

   <div class="col s12 m12">
     <div class="card white">
       <div class="card-content black-text">
         <span class="card-title">Recent <%= link_to "Commit", '/commits' %> Activity</span>
         <% @commits_by_repo.each do |commits| %>
         <%= current_user.username + "/" + commits.keys[0] + "  #{commits.values.flatten.count}" + " commits" %><br>
         <% end %>
       </div>
     </div>
   </div>

   <div class="col s12 m12">
     <div class="card white">
       <div class="card-content black-text">
         <span class="card-title">Recent <%= link_to "Followed User", '/received_events' %> Events</span>
         <table class="bordered highlight">
           <thead>
             <tr>
                 <th></th>
                 <th>User</th>
                 <th>Event Type</th>
                 <th>Event Date</th>
             </tr>
           </thead>

           <tbody>
             <% @following_events.each do |event| %>
               <tr>
                 <td><img src=<%= event.user_image %> height=40 width=40 alt="" class="circle responsive-img"></td>
                 <td><%= event.username %></td>
                 <td><%= event.event_type %></td>
                 <td><%= event.created_at %></td>
               </tr>
             <% end %>
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
</div>
