<ul id="category-items">
  <li><a href="/repos">Repositories<span class="new badge" data-badge-caption=""><%= current_user.public_repos %></span></a></li>
  <li><a href="/starred">Stars</a><span class="new badge" data-badge-caption=""><%= @starred_repos_count %></span></li>
  <li><a href="/followers">Followers</a><span class="new badge" data-badge-caption=""><%= current_user.followers %></span></li>
  <li><a href="/following">Following<span class="new badge" data-badge-caption=""><%= current_user.following %></span></a></li>
</ul>
<h1>Following Events</h1>

<table class="bordered highlight">
  <thead>
    <tr>
        <th></th>
        <th>User</th>
        <th>Event Type</th>
        <th>Event Date</th>
    </tr>
  </thead>

  <tbody>
    <% @following_events.each do |event| %>
      <tr>
        <td><img src=<%= event.user_image %> height=40 width=40 alt="" class="circle responsive-img"></td>
        <td><%= event.username %></td>
        <td><%= event.event_type %></td>
        <td><%= event.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
