<div class="row">
  <ul id="category-items">
    <li><a href="/repos">Repositories<span class="new badge" data-badge-caption=""><%= current_user.public_repos %></span></a></li>
    <li><a href="/starred">Stars</a><span class="new badge" data-badge-caption=""><%= @starred_repos_count %></span></li>
    <li><a href="/followers">Followers</a><span class="new badge" data-badge-caption=""><%= current_user.followers %></span></li>
    <li><a href="/following">Following<span class="new badge" data-badge-caption=""><%= current_user.following %></span></a></li>
  </ul>
  <h5>Starred Repos</h5>
<% @starred_repos.each do |starred| %>
  <div class="col s12 m12">
    <div class="card white darken-1">
      <div class="card-content blue-text">
        <span class="card-title"><strong><%= starred.name %></strong></span>
        <p>Language: <%= starred.language %></p>
        <p>Last Update: <%= starred.updated_at %></p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
  <% end %>
</div>
