<div class="row">
  <ul id="category-items">
    <li><a href="/repos">Repositories<span class="new badge" data-badge-caption=""><%= current_user.public_repos %></span></a></li>
    <li><a href="/starred">Stars</a><span class="new badge" data-badge-caption=""><%= @starred_repos_count %></span></li>
    <li><a href="/followers">Followers</a><span class="new badge" data-badge-caption=""><%= current_user.followers %></span></li>
    <li><a href="/following">Following<span class="new badge" data-badge-caption=""><%= current_user.following %></span></a></li>
  </ul>
  <h5>Organizations</h5>
  <% @organizations.each do |organization| %>
    <div class="col s4 m4">
      <div class="card large">
          <div class='center-align'><%= image_tag organization.image, size: '200' %></div>
        <div class="card-content">
          <h5 class='center-align'><%= organization.name %></h5>
          <p><%= organization.description %></p>
        </div>
        <div class="card-action">
          <p>Members: <%= @organizations.count  %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
