
<div class="row">
  <ul id="category-items">
    <li><a href="/repos">Repositories<span class="new badge" data-badge-caption=""><%= current_user.public_repos %></span></a></li>
    <li><a href="/starred">Stars</a><span class="new badge" data-badge-caption=""><%= @starred_repos_count %></span></li>
    <li><a href="/followers">Followers</a><span class="new badge" data-badge-caption=""><%= current_user.followers %></span></li>
    <li><a href="/following">Following<span class="new badge" data-badge-caption=""><%= current_user.following %></span></a></li>
  </ul>
  <h5>Following</h5>
  <% @followings.each do |following| %>
    <div class="col s12 m6">
       <div class="card-panel grey lighten-5 z-depth-1">
         <div class="row valign-wrapper">
           <div class="col s2">
             <img src=<%= following.image %> alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
           </div>
           <div class="col s10">
               <h4><%= following.name %></h4>
               <p><%= link_to "Github", following.url %></p>
           </div>
         </div>
       </div>
     </div>
   <% end %>
</div>
